@CHARSET "UTF-8";

html, body {
	height: 100%;
}

h1 {
	font-size: 24px !important;
}

#page {
	min-height: 100%;
	height: auto!important;
	height: 100%;
	margin: 0 auto -60px;
}

#footer {
	background-color: #f5f5f5;
}

#footer, #push {
	height: 60px;
}

#yii {
	display: none;
}

.credit {
	margin: 20px 0;
}

.grid {
	margin-bottom: 20px;
}

.cell {
	height: 200px;
	position: relative;
	text-align: center;
}

.cell img {
	width: 160px;
	height: 110px;
}

.text-center {
	text-align: center;
}

.no-padding {
	padding: 0px;
}

.items div.view  {
	border: 1px dotted gray;
	margin-bottom: 10px;
	padding: 5px;
}